In [1]:
from pygeosys import geosys
import os
from dotenv import load_dotenv

load_dotenv()

API_CLIENT_ID = os.getenv('API_CLIENT_ID')
API_CLIENT_SECRET = os.getenv('API_CLIENT_SECRET')
API_USERNAME = os.getenv('API_USERNAME')
API_PASSWORD = os.getenv('API_PASSWORD')

c = geosys.geosys(API_CLIENT_ID, API_CLIENT_SECRET, API_USERNAME, API_PASSWORD)

In [2]:
polygon = "POLYGON((-91.17523978603823 40.29787117039518,-91.17577285022956 40.29199489606421,-91.167613719932 40.29199489606421,-91.1673028670095 40.29867040193312,-91.17523978603823 40.29787117039518))"

c.get_vts_time_series(polygon, "NDVI")

200

           index     value
date
2003-01-01  NDVI  0.163294
2003-01-02  NDVI  0.158552
2003-01-03  NDVI  0.153906
2003-01-04  NDVI  0.149337
2003-01-05  NDVI  0.144798
...          ...       ...
2008-06-18  NDVI  0.486549
2008-06-19  NDVI  0.483495
2008-06-20  NDVI  0.481160
2008-06-21  NDVI  0.479604
2008-06-22  NDVI  0.478858

[2000 rows x 2 columns]